* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 18px;

  font-family: sans-serif;
  font-family: 18px;

  background: #deface;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.box {
  border-radius: 6px;
  background: white;
  padding: 1.6em 2em;
}

.goals {
  position: absolute;
  top: 18px;
  left: 18px;
  padding-left: 2.6em;
}

ol {
  margin: 0;
  padding: 0;
}

ol li:not(:last-of-type) {
  margin-bottom: 1em;
}
