:root {
  --transdblue: rgba(2, 0, 36, 0.85);
  --transdblue-hover: rgba(2, 0, 36, 0.6);
  --dblue: #020115;

  --transblue: rgba(9, 9, 121, 1);
  --blue: #090979;

  --lgreen: #abeff6;
  --transgreen: #9efcbc33;

  --lpurple: #7c7cc0;

  --radius-sm: 6px;
  --radius-lg: 12px;

  --size1: 10px;
  --size2: 20px;
  --size3: 30px;

  --font1: 16px;
  --font2: 20px;
  --font2: 30px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--dblue);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: system-ui, -apple-system, "system-ui", "Segoe UI", Roboto,
    sans-serif;
  font-size: var(--font1);

  background: linear-gradient(65deg, var(--dblue) 0%, var(--blue) 100%);
  color: white;
}

a {
  color: var(--lgreen);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  color: #7c7cc0;
  line-height: 1.7em;
}

.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border-radius: var(--radius-sm);
  background: var(--transdblue-hover);
  padding: 3em;
  border: 1px solid var(--transblue);
  backdrop-filter: blur(10px);
}

#welcome {
  width: 500px;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 21px;

  h2 {
    font-size: 18px;
  }

  .color {
    background-image: linear-gradient(
      135deg,
      #7aa8ff 0%,
      #8bf2fe 33.33%,
      #7affad 66.67%,
      #c3f8c3 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
  }
}

.levels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--transgreen);
  background-image: linear-gradient(
    135deg,
    #7aa8ff12 0%,
    #8bf2fe2d 33.33%,
    #7affad2e 66.67%,
    #c3f8c32a 100%
  );

  a {
    background-color: var(--transdblue);
    padding: 1em;
    text-decoration: none;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: var(--transdblue-hover);
    }
  }
}

@media (max-width: 1000px) {
  #levels {
    grid-template-columns: repeat(2, 1fr);
  }
}

#goal {
  background: var(--transdblue-hover);
  line-height: 1.5;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    padding: var(--size2) var(--size3);
    border-bottom: 1px solid var(--transblue);
    font-size: var(--size3);
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    color: var(--lpurple);
    padding: var(--size3) var(--size3);
    border-bottom: 1px solid var(--transblue);
    font-size: var(--size2);
  }

  pre {
    background: #000;
    padding: 10px;
    border-radius: 4px;
    font-size: var(--font1);
    overflow: hidden;
  }
}

@media (max-width: 999px) {
  #goal {
    border-bottom: 1px solid var(--transblue);

    h1 {
      font-size: var(--size2);
    }

    li {
      font-size: var(--font1);
    }
  }
}

@media (max-width: 649px) {
  #goal {
    h1 {
      padding: var(--size1) var(--size2);
    }

    li {
      padding: var(--size1) var(--size2);
    }
  }
}

@media (min-width: 1000px) {
  #goal {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    border-right: 1px solid var(--transblue);
  }
}

#task {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  gap: 18px;

  & > a[href^="level"] {
    background: var(--transdblue-hover);
    padding: 10px 24px;
    border-radius: 24px;
    text-decoration: none;
    border: 1px solid var(--transblue);
    transition: background-color 0.15s ease;

    &:hover {
      background-color: var(--transdblue);
    }
  }
}

@media (min-width: 1000px) {
  #task {
    padding-left: 400px;
    min-height: 100vh;
  }
}
