:root {
  --transdblue: rgba(2, 0, 36, 0.85);
  --transdblue-hover: rgba(2, 0, 36, 0.6);
  --dblue: #020115;

  --transblue: rgba(9, 9, 121, 1);
  --blue: #090979;

  --lgreen: #abeff6;
  --transgreen: #9efcbc33;

  --lpurple: #7c7cc0;

  --radius-sm: 6px;
  --radius-lg: 12px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--dblue);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 18px;

  font-family: system-ui, -apple-system, "system-ui", "Segoe UI", Roboto,
    sans-serif;

  background: linear-gradient(65deg, var(--dblue) 0%, var(--blue) 100%);
  color: white;
}

a {
  color: var(--lgreen);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#welcome {
  width: 500px;
  max-width: 90%;
  text-align: center;
}

.levels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  flex-wrap: wrap;
  border-radius: 12px;
  border: 1px solid var(--transgreen);
  background-image: linear-gradient(
    135deg,
    #7aa8ff12 0%,
    #8bf2fe2d 33.33%,
    #7affad2e 66.67%,
    #c3f8c32a 100%
  );
  overflow: hidden;
}

@media (max-width: 1000px) {
  #levels {
    grid-template-columns: repeat(2, 1fr);
  }
}

.levels a {
  background-color: var(--transdblue);
  padding: 1em;
  text-decoration: none;
  transition: background-color 0.15s ease;
}

.levels a:hover {
  background-color: var(--transdblue-hover);
}

h1 div.color {
  background-image: linear-gradient(
    135deg,
    #7aa8ff 0%,
    #8bf2fe 33.33%,
    #7affad 66.67%,
    #c3f8c3 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
}

h2 {
  font-size: 18px;
}

p {
  color: #7c7cc0;
  line-height: 1.7em;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.box {
  border-radius: var(--radius-sm);
  background: var(--transdblue-hover);
  padding: 3em;
  border: 1px solid var(--transblue);
  backdrop-filter: blur(10px);
}

.goals {
  position: absolute;
  top: 18px;
  left: 18px;
  padding: 2em 3.5em;
  max-width: calc(100% - 18px * 2);
}

ol {
  margin: 0;
  padding: 0;
}

ol li:not(:last-of-type) {
  margin-bottom: 1em;
}

li {
  color: var(--lpurple);
}

button {
  cursor: pointer;
}

body > a[href^="level"] {
  background: var(--transdblue-hover);
  padding: 10px 24px;
  border-radius: 24px;
  text-decoration: none;
  border: 1px solid var(--transblue);
  transition: background-color 0.15s ease;
}

body > a[href^="level"]:hover {
  background-color: var(--transdblue);
}
